html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  
  }
  
  @font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "OpenDislexic";
    src: url("../fonts/OpenDyslexic-Bold.otf") format("truetype");
  }
  
  
  body {
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  .zonaContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  
    height: 80vh;
  
  } 