.main__tabs {

    padding: 1em;

    height: 80vh;

    background-color: #c7c7c7;
    background-image: url('../images/suelotaller.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;

    .tabs__botonesTab {

        display: flex;
        align-items: center;
        justify-content: flex-start;

        .botonesTab__pestana {

            margin-right: 1em;
            padding: 1em;
            cursor: pointer;
            transition: all 0.5s ease;
            
        }
        .botonesTab__pestana:hover {

            background-color: grey;
            
            
        }

        .activo {
            background-color:rgb(206, 168, 168);
            border-radius: 5px;
        }
        .activo:hover {
            background-color: grey;
        }


    }

    .tabs__contenedorTexto {
        position: relative;
        overflow: hidden;
        min-height: 60vh;
        background-color: rgba(#c7c7c7, 0.5);
        margin: 10px;

        .contenedorTexto__bloque {
            position: absolute;
            top: 0;
            opacity: 0;
            transition: all 0.5s ease;
        }

        .activo {
            opacity: 40;
        }

    }
    
}

.imagenes_coches{
    
    width: 300px;
    height: auto;
    border: 2px solid black;

    img{

        width: 100%; 
        height: 100%; 
        object-fit: cover;

    }

}