<div class="header">
    <div id="imagenizq">
      <img src="assets/images/charcoizq.png" alt="charcoaceite" />
      <source type="image/svg" srcset="assets/images/charcoizq.svg" />
      <source type="image/webp" srcset="assets/images/charcoizq.webp" />
    </div>

      <div id="zonaLogo">
        <a id="logo" href="#">
          <img src="assets/images/logo.png" alt="logo" />
          <source type="image/svg" srcset="assets/images/logo.svg"/>
          <source type="image/webp" srcset="assets/images/logo.webp" />
        </a>
        <h1>TechVerCar</h1>
      </div>

      <div class="font-toggle">
        <button onclick="toggleFont()">Cambiar Fuente</button>
      </div>
  </div>